<div class="container main">
	<!-- Outer Row -->
	<div class="row justify-content-center">
		<div class="col-xl-10 col-lg-12 col-md-9">
			<div class="card o-hidden border-0 shadow-lg my-5">
				<div class="card-body  p-0">
					<div class="row">
						<div class="col-lg-12">
							<div class="p-5 card">
								<div class="text-center">
									<img src="../../assets/Logo.jpeg" class="imagen">
									<h1 class="h4 text-gray-900 mb-4" style="font-weight: bold;">Bienvenido!</h1>
								</div>
								<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
									<div class="input-container">
										<i class="fa fa-user icon"></i>
										<input type="text" formControlName="username" class="inputext form-control"
											[ngClass]="{ 'is-invalid': submitted && f.username.errors }"
											placeholder="Ingrese su Usario" />
										<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
											<div *ngIf="f.username.errors.required">Username is required</div>
										</div>
									</div>
									<div class="input-container">
										<i class="fa fa-key icon"></i>
										<input type="password" formControlName="password" class="inputext form-control"
											[ngClass]="{ 'is-invalid': submitted && f.password.errors }"
											placeholder="Ingrese su Contraseña" />
										<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
											<div *ngIf="f.password.errors.required">Contraseña es requerida</div>
										</div>
									</div>
									<button [disabled]="!loginForm.valid" class="btn btn-success boton">
										Iniciar Sesión
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>