.form-login {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-color:#d2d2d2;
  border-width: 5px;
  color:white;
   box-shadow:2px 2px 11px #cfcfcf;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10%;
}
.input-container {
display: -ms-flexbox; /* IE10 */
display: flex;
width: 100%;
margin-bottom: 15px;
}

.icon {

padding: 10px;
background-color: white;
color: #6c85ac;
min-width: 50px;
text-align: center;
font-size: 18px;
border-right-color: black;
}

.input-field:focus {
border: 3px solid #080d2d;
}

div.main{
  
/*background-image: linear-gradient(180deg,#f8f4fc 13%,#7bb35e 40%);*/
height:calc(100vh);
width:100%;
}

.container {
left: 50%;
position: fixed;
top: 50%;
transform: translate(-50%, -50%);
}

.imagen{
border-radius: 8px;
width: 280px;
}
.inputext{
color: #080d2d;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
border: none;
background-color: white;
}
.card{
background: #f8f4fc;
}
.boton{
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
font-weight: bold;
}